# configuration file for Boyd Gaming
# format: field, csv_field_name

latitude, Latitude 
longitude, Longitude
filter, Status
filter.text, open
# filter.text, closed
index, Property
title, Property
title.prefix, Boyd Gaming
category, Status
description, Property.Postal Address.Total Hotel Rooms.Rooms Available for Public.Rooms Available for Responders.Power Source.ATM.Check Cashing.Gaming.Full Meals.Snacks.Status.Notes
url.host, http://localhost/uicds
url.username, admin
url.password, keystone.1549
url.redirectUrl, http://www.saberspace.org/status-map.html
