#Configuration File for Costco
# format: field, csv_field_name
latitude, LCLAT
longitude, LCLONG
filter, Status
filter.text, Closed
#filter.text, Open
# filter.text, Unknown
index, NAME.WHS.LCLAT.LCLONG
title, NAME
title.prefix, Costco
# category, WHS
category, Status
description, NAME.WHS.LCLAT.LCLONG
url.host, http://localhost/uicds
url.username, costco
url.password, igdfpmv8
url.redirectUrl, http://www.saberspace.org/status-map.html

