#Configuration File for Costco
# format: field, csv_field_name
latitude, LCLAT
longitude, LCLONG
filter, Status
# filter.text, Close
filter.text, Open
# filter.text, Unknown
index, NAME.WHS.LCLAT.LCLONG
title, NAME
title.prefix, Costco
category, WHS
description, NAME.WHS.LCLAT.LCLONG
url.host, http://localhost/xchangecore
url.username, admin
url.password, keystone.1549
url.redirectUrl, http://www.saberspace.org
