# configuration file for PG&E Distribution Line
# format: field, csv_field_name

latitude, Latitude
longitude, Longitude
filter, Description
filter.text,  DO NOT
index, Title.IncidentType.Latitude.Longitude
title, IncidentType
title.prefix, PG&E
category, IncidentType
description, Title.IncidentType.Description.Latitude.Longitude.Date.Time
url.host, http://localhost
url.username, admin
url.password, keystone.1549
url.redirectUrl, http://www.saberspace.org
