# configuration file for Sears 
# format: field, csv_field_name

latitude, Latitude
longitude, Longitude
filter, Current Status
#filter.text, Closed
# filter.text, Closed
filter.text, Closed 
index, SHC Unit Number
title, City
title.prefix, Sears
category, Current Status
category.prefix, Sears
## In km
distance, 80
distance.filter.text, Open
#category.fixed, Sears-Open
description, SHC Unit Number.City.State.Damage or Closing Type.Comments.Prior Period Status.Current Status
# url.host, https://host2.xchangecore.leidos.com/uicds/core/ws/services
url.host, http://localhost/uicds
url.username, admin
url.password, keystone.1549
url.redirectUrl, http://www.saberspace.org/status-map.html
