# configuration file for Target
# format: field, csv_field_name
latitude, latitude
longitude, longitude
filter, operation status
filter.text, open
# filter.text, closed
# filter.text, unknown
index, location #.city.state.zip.latitude.longitude
title, location #
title.prefix, Target
category, power outage status
description, Operation Status.Power Outage Status.Planned/Actual Open Time.Planned/Actual Close Time.Facility Damage.address.city.state.zip.location type.location #
url.host, http://localhost/xchangecore
url.username, admin
url.password, keystone.1549
url.redirectUrl, http://www.saberspace.org
