# configuration file for Target
# format: field, csv_field_name
latitude, latitude
longitude, longitude
filter, operation status
#filter.text, open
filter.text, close
# filter.text, unknown
index, location #.city.state.zip.latitude.longitude
title, location #
title.prefix, Target
category, power outage status
description, Operation Status.Power Outage Status.Planned/Actual Open Time.Planned/Actual Close Time.Facility Damage.address.city.state.zip.location type.location #
url.host, http://localhost/uicds
url.username, target
url.password, kbjtkv9m
url.redirectUrl, http://www.saberspace.org/status-map.html
