# configuration file for Walgreen
# format: field, csv_field_name
latitude, latitude
longitude, longitude
filter, Store/Site Status
# filter.text, Unknown
#filter.text, OPEN: Regular Hours
# filter.text, CLOSED
filter.text, Batch One
index, store_nbr.city.state_abbv.zip_code_5.latitude.longitude
title, store_nbr
title.prefix, Walgreens
category, store_type
category.fixed, Walgreen Batch One
description, Store_nbr.ADDRESS_LINE_1.ADDRESS_LINE_2.CITY.STATE_ABBV.ZIP_CODE_5.COUNTY.STORE_TYPE_DESC.RETAIL_CLINIC_IND.OPEN_24_HOURS.NCPDP_PROVIDER_ID.DISTRICT_NBR.REGION_NBR
url.host, http://localhost/uicds
url.username, admin
url.password, keystone.1549
url.redirectUrl, http://www.saberspace.org/status-map.html
