# configuration file for Walgreen
# format: field, csv_field_name
latitude, latitude
longitude, longitude
filter, store_status
# filter.text, Unknown
filter.text, OPEN: Regular Hours
# filter.text, CLOSED
index, store_nbr.city.state_abbv.zip_code_5.latitude.longitude
title, store_nbr
title.prefix, Walgreens
category, store_type
description, store_nbr.store_status.power_status.address_line_1.address_line_2.city.state_abbv.zip_code_5.county
url.host, http://localhost/xchangecore
url.username, admin
url.password, keystone.1549
url.redirectUrl, http://www.saberspace.org
